@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap);
@font-face {
	font-family: "AmericanCapitan";
	src: url("../assets/fonts/American\ Captain.ttf");
  }
@font-face {
	font-family: "Abolition";
	src: url("../assets/fonts/Abolition.ttf");
  }
:root {
	--main-color: rgb(245, 216, 62);
	--second-color: #080808;
	--text-color: #110f05;
	--text2-color: #6a6d55;
	--text3-color: rgb(83, 83, 83);
	--hover-color: #435645;
	--main-color-alpha: rgba(245, 215, 62, 0.8);
	/* --hover-color: #383838; */
	--alter-color: rgb(248, 248, 255);
	--alter2-color: #474935;
	--alter3-color: #fff;
	--poppins-font: "Poppins", sans-serif;
	--abolition-font: "Abolition", sans-serif;
	--american-font: "AmericanCapitan", sans-serif;
	--calibri-font: "Calibri", sans-serif;
	--padding-top: 30vh;
  }
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
*::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background-color: rgb(236, 228, 155);
}
*::-webkit-scrollbar-thumb{
	background-color: var(--main-color);
	border-radius: 5px;
}
body{
	background: url(../assets/img/BACKGROUND\ WHITE.png);
}
a{
	text-decoration: none;
}