.textPrincipal{
	text-align: center;
	margin: 2rem 0;
	margin-top: 5rem;
}

.textPrincipal h2{
	font-family: var(--abolition-font);
	font-weight: 600;
	font-size: 6rem;
	background-color: var(--alter-color);
    border-top: 2px solid rgba(70, 70, 70, 0.803);
    border-bottom: 2px solid rgba(70, 70, 70, 0.803);
}
.textPrincipal p{
	margin-top: 2rem;
    background: linear-gradient(to right, rgba(245, 215, 62, 0.5)0%, rgba(245, 216, 62)50%, rgba(245, 215, 62, 0.5)100%);
    text-align: center;
    font-family: var(--calibri-font);
    font-size: 1.5rem;
    padding: 2rem 16rem;
}

.videoContent{
	width: 100%;
	height: 80vh;
	overflow: hidden;
}
.video{
	width: 100%;
	margin-top: -10.1rem;
}

.pictureContent{
	margin-top: 4rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
}

.pictureContent img{
	width: 38rem;
	max-width: 90%;
	border-radius: 10px;
	box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.21);
}


	@media screen and (max-width: 1100px) {
		.textPrincipal p{
		padding: 2rem 6rem;
		}
		.videoContent{
			height: auto;
		}
		.video{
			margin-top: 0.1rem;
		}
	}
	@media screen and (max-width: 800px) {
		.textPrincipal p{
		padding: 2rem 1rem;
		}
	}