.partnersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.partnersTop,
.partnersBot
{
    width: 100%;
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 1rem 0;
}

.partner h4{
    width: 20rem;
    margin-top: 3rem;
    margin-left: -4rem;
    padding: 1rem;
    font-size: 2.4rem;
    font-family: var(--abolition-font);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: 2px solid var(--second-color);
    border-left: transparent;
    border-right: transparent;
    position: relative;
    z-index: 5;
}

.partner h4::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3.3rem;
    height: 3.3rem;
    margin-top: .6rem;
    margin-left: -1.7rem;
    border: 2px solid var(--second-color);
    border-top: transparent;
    border-right: transparent;
    background-color: var(--main-color);
    transform: rotate(45deg);
    z-index: -1;
}
.partner h4::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3.3rem;
    height: 3.3rem;
    margin-top: .6rem;
    margin-right: -1.7rem;
    border: 2px solid var(--second-color);
    border-bottom: transparent;
    border-left: transparent;
    background-color: var(--main-color);
    transform: rotate(45deg);
    z-index: -1;
}