.certificacion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(245, 215, 62, 0.5)0%, rgba(245, 216, 62)50%, rgba(245, 215, 62, 0.5)100%);
    padding: 4rem 0;
    position: relative;
}
.image{
    width: 75rem;
    height: auto;
    z-index: 10;
}

.close{
    width: 5rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    cursor: pointer;
}
